<div class="row" style="margin-top: 100px">
    <form
     ng-submit="EstateCtrl.save()"
     method="POST"
     class="col-xs-12 col-sm-push-2 col-sm-8 col-md-4 col-md-push-4">
        <div class="form-group">
            <label for="name" class="col-xs-4">Name</label>
            <input
             id="name"
             type="text"
             name="name"
             ng-model="EstateCtrl.estate.name"
             required>
        </div>
        <div class="form-group">
            <label for="category" class="col-xs-4">Category</label>
            <select
             name="category"
             ng-model="EstateCtrl.estate.category.objectId"
             ng-options="category.objectId as category.name for category in EstateCtrl.categories"
             id="category"
             required>
              <option value="">-- Choose a category --</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price" class="col-xs-4">Price</label>
            <input
             id="price"
             type="text"
             name="price"
             ng-model="EstateCtrl.estate.price"
             required>
        </div>
        <div ng-if="EstateCtrl.errorMessage">
          <p style="color: red">{{EstateCtrl.errorMessage}}</p>
        </div>
        <div class="pull-right">
          <a href="/estates" class="btn btn-link">Cancel</a>
          <button type="submit" class="btn btn-primary">Save estate</button>
        </div>
    </form>
</div>
