<div class="row" style="margin-top: 100px">
    <form
     ng-submit="RegisterCtrl.register(user)"
     method="POST"
     class="col-xs-12 col-sm-push-3 col-sm-6">
        <div class="form-group">
            <label for="username" class="col-xs-4">Username</label>
            <input
             id="username"
             type="text"
             name="username"
             ng-model="user.username"
             required>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-4">Password</label>
            <input
             id="password"
             type="password"
             name="password"
             ng-model="user.password"
             required>
        </div>
        <div class="form-group">
            <label for="passwordConfirmation" class="col-xs-4">Confirm password</label>
            <input
             id="passwordConfirmation"
             type="password"
             name="passwordConfirmation"
             ng-model="user.passwordConfirmation"
             required>
        </div>
        <div ng-if="RegisterCtrl.errorMessage">
          <p style="color: red">{{RegisterCtrl.errorMessage}}</p>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        &nbsp;or <a href="/login" class="btn btn-link btn-xs">Log in</a>
    </form>
</div>
